.modal-content{
background-color:#FFF;
}

#upload{
    font-size:30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height:65px;
    width:65px;
    border-radius:100px;
}

#pagebutton{
        margin-left:80%;
        background-color: #FFF;
        border: 2px solid;
        outline: 0;
        font-size: 16px;
        border-radius: 10px;
        border-color: #0275d8;
        padding: 12px;
        width: 20%;
}
#pagebutton:hover{
    color: #FFF;
    background-color: #0275d8;
}

.uploadinput,textarea {
    font-size: 16px;
    border-radius: 10px;
    outline: 0;
    border: 1px solid #DEDEDE;
    width: 100%;
    padding: 10px;
}

#sideNav {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
    padding-top: 60px;
    transition: .2s;
}

.list-group-item{
    border-left: transparent;
    border-right: transparent;
}

#openSideNav{
    margin-left:10px;
    font-size:20px;
    color: #FFF;
    background-color:
    transparent;border: 0;
    outline: 0;
}
.collapse.width {
  width: 250px;
  overflow: hidden;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

#class_del{
    bottom: 0px;
}
