<div class="modal-body">
    <p id="title" class="h4 mt-3 mb-4 text-secondary text-center">Post</p>
    <form method="POST" enctype="multipart/form-data" action="{%url 'upload_note' classname.code %}">
        {% csrf_token %}
        {% for field in form %}
            {{ field }}<br><br>
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <button id="pagebutton" type="submit">Post</button>
    </form>
</div>