{% extends 'dashboard.html'%}
{% load static %}

{% block title %} Register {% endblock %}
{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">
{% endblock %}
<script> $(window).load(function(){
    $('#exampleModal').modal('show');
});
    </script>

{% block content %}
<div class="modal fade" id="exampleModal" align="center">
      <div class="modal-dialog " role="document">
        <div class="modal-content">
          <div class="modal-body" >
            <div class="container mt-4 mb-4"  align="center">
                <p class="p-3 h5 text-secondary text-center"> Are you sure you want to log out?</p>
                <br>
                <div class="row" >
                    <div class="col">
                        <a href="{%url 'logout' %}" role="button" class="btn btn-danger float-right">Logout</a></div>
                    <div class="col">
                        <a role="button" class="btn btn-secondary pl-3 pr-3 text-light float-left " data-dismiss="modal" aria-label="Close">No</a></div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-4 " align="center" style="width:400px;">
    <form method="POST">
        <br>
        {% csrf_token %}
        <p id="title" class="h3 mb-4 text-secondary text-center ">Create Class</p>
        {% for field in form %}
	        	{{ field }} <br><br>
		        {% for error in field.errors %}
		          <p style="color: red">{{ error }}</p>
		        {% endfor %}
		    {% endfor %}
        <button id="pagebutton" >Create</button>
    </form><br><br>
    
    </div>

{% endblock %}

