{% extends 'dashboard.html'%}
{% load static %}

{% block title %} {{ classname.classes }} {% endblock %}
{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'upload.css' %}">
{% endblock %}

{% block nav_content%}
<nav class="navbar navbar-expand-md navbar-dark sticky-top">
    <button id="openSideNav" data-toggle="collapse" href="#sideNav" >&#9776;</button>
    <a class="navbar-brand mr-auto" href="{%url 'join_page' classname.code %}" style="margin-left: 10px;"><b>{{ classname.classes }}</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{%url 'dashboard' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal">Logout</a>
            </div>
        </li>
    </ul>
    </div>
</nav>
{% endblock %}

{% block content%}
<script> $(window).load(function(){
    $('#exampleModal').modal('show');
});</script>
<div class="container-fluid mt-3">
    <div class="row">

        <div class="col-7 px-0 ml-auto mr-auto">
            {% for note in notes %}
                    <div class="card mb-2">
                       <div class="card-header">
                            <h6 class="card-title">{{note.title}}</h6>
                           <h6 class="card-text text-muted text-right"><small>{{note.uploadingdate}}</small></h6>
                       </div>
                        <div class="card-body">
                            <h6 class="card-title">DESCRIPTION</h6>
                            <p class="card-text text-muted ml-5">{{note.desc}}</p>
                            {% if note.file %}
                            <h6 class="card-title">FILE</h6>
                            <p class="card-text ml-5"><a href="{{note.file.url}}" target="_blank">{{note.file}}</a></p>
                            {% endif %}
                       </div>
                    </div>
            {% endfor %}
        </div>

        <div class="col-3 px-0 mr-1 text-center">
            <div class="card ml-auto" style="width: 8rem;">
                <div class="card-header h6">CLASS CODE</div>
                <div class="card-text mb-4 mt-1 text-secondary">{{ classname.code }}</div>
                <div class="card-header border-top h6">TEACHER</div>
                <div class="card-text mb-4 mt-1 text-secondary">{{ classname.teacher }}</div>
                <div class="card-header border-top h6">SUBJECT</div>
                <div class="card-text mb-4 mt-1 text-secondary">{{ classname.subject }}</div>
            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="exampleModal" align="center">
      <div class="modal-dialog " role="document">
        <div class="modal-content">
          <div class="modal-body" >
            <div class="container mt-4 mb-4"  align="center">
                <p class="p-3 h5 text-secondary text-center"> Are you sure you want to log out?</p>
                <br>
                <div class="row" >
                    <div class="col">
                        <a href="{%url 'logout' %}" role="button" class="btn btn-danger float-right">Logout</a></div>
                    <div class="col">
                        <a role="button" class="btn btn-secondary pl-3 pr-3 text-light float-left " data-dismiss="modal" aria-label="Close">No</a></div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="container" >
    <div class="collapse width" id="sideNav" style="background-color: #eeeff7; height:100vh;" align = "center">
        <br>
        <ul class="list-group list-group-flush bg-transparent list-unstyled" style="font-size:.9rem; overflow-x: auto;">
            <li class="list-group-item dropdown-toggle stud text-light" data-toggle="collapse" role="button" data-target="#demo" ><b>STUDENTS</b></li>
            <div id="demo" class="collapse">
                {% for student in students %}
                <li class="list-group-item" >{{student.username}}</li>
                {% endfor %}
            </div>
            <li><a class="btn btn-info btn-sm m-2" href="{%url 'unenroll_class' classname.code %}" role="button" id="class_del">Unenroll from class</a></li>
        </ul>
    </div>
</div>
<script>
    $(document).click(function(e) {
	if ($(e.target).closest(".container").length === 0) {
    	$('.collapse').collapse('hide');
    }
    });
</script>
{% endblock %}